{% extends 'layout.html' %}
{% block content %}
<div class="container parallax__layer parallax__layer--back">
<div class="row m-2 ml-4 mt-5">
    <div class="col-10 ml-5 mt-5 mb-5 p-4 parallax__layer parallax__layer--base events">
        <header>
            What's happening?
        </header>
        <small class="text-muted headerHelpLeft d-inline-block">See what events are coming up!<br>You're attending <span class="green"><strong>{{ appointments_index }}</strong></span> {% if appointments_index ==  1 %}event{% else %}events{% endif %}, and you have <span  class="amber"><strong>{{ pending_index }}</strong></span> {% if pending_index ==  1 %}invitation{% else %}invitations{% endif %} pending.</small>
        <small class="text-muted headerHelpRight d-inline-block text-right">Update your events, and invitations below.</small>
        <div id="appointments">
        </div>
    </div>
</div>
</div>
<div class="row mb-4 text-center fixed-bottom">
    <div class="col">
        <footer>
            Copyright &copy
        </footer>
    </div>
</div>



{% endblock %}

{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'item.js') }}"></script>

        <script type=text/javascript>
            var appointments = {{appointments|tojson|safe}}
        </script>

         <script type=text/javascript>
            var users = {{users|tojson|safe}}
        </script>

        <script type=text/javascript>
            var invites = {{invites|tojson|safe}}
        </script>

        <script type=text/javascript>
            var pending = {{pending|tojson|safe}}
        </script>

        <script type=text/javascript>
            var username = "{{username|safe}}"
        </script>

        <script type=text/javascript>
            var user_id = {{user_id|safe}}
        </script>



{% endblock %}

