{% extends 'layout.html' %}
{% block content %}
<div class="container">
<div class="row m-1 mt-5 pl-5 pr-5 pt-5 pb-1">
    <div class="col ml-4">
        <header>
            Where to eat next?
        </header>
        <small class="text-muted headerHelpLeft d-inline-block">Find your restaurant in the search box below!</small>
        <small class="text-muted headerHelpRight d-inline-block text-right mr-2">Click <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" height="12px"> to schedule an event, or <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" height="12px"> to see what's cooking.</small>
    </div>
</div>
<div class="row m-1 mb-5 pl-5 pr-5 pb-5 pt-1">
    <div class="col-12 mt-2 mb-5">
        <div id="map">
        </div>
        <form id='search-discover'>
            <input type="text" id="search-discover-input" class="controls">
        </form>
    </div>
</div>
<div class="row mb-4 text-center fixed-bottom">
    <div class="col">
        <footer>
            Copyright &copy
        </footer>
    </div>
</div>
</div>

{% endblock %}

{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'search.js') }}"></script>

        <script type=text/javascript>
            var appointments = {{appointments|tojson|safe}}
        </script>

        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCgLtBGAynwQz8irTIbZ0USNbPIBY5xYhQ&libraries=places&callback=initMap"></script>

<!-- @TODO: add media < XXX pixels move expand on map -->

{% endblock %}


